<div class="titi"><h1>Productos </h1> </div>

<div class="titi pt-10 pb-10"><h2>Algo Caliente</h2> </div>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Café Instantaneo</h3>
      <p>Cafe instantaneo de greca</p>
      <p class="price">$3.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Prensa Francesa</h3>
      <p>Cafe hecho en prensa Francesa</p>
      <p class="price">$12.000</p>
    </div>

    <div class="coffee-item">
      <h3>Agua de panela</h3>
      <p>Deliciosa agua de panela caliente</p>
      <p class="price">$5.500</p>
    </div>

    <div class="coffee-item">
      <h3>Aromática de frutos amarillos</h3>
      <p>Aromática hecha con deliciosos frutos amarillos</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Aromática de frutos rojos</h3>
      <p>Aromática hecha con deliciosos frutos rojos</p>
      <p class="price">$8.000</p>
    </div>


    <div class="coffee-item">
      <h3>Chocolate negro</h3>
      <p>Chocolate negro caliente</p>
      <p class="price">$6.500</p>
    </div>

    <div class="coffee-item">
      <h3>Chocolate en leche</h3>
      <p>Chocolate en leche caliente</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Ron</h3>
      <p>Capuchino con Ron </p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Amaretto</h3>
      <p>Capuchino con Amaretto</p>
      <p class="price">$11.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Baileys</h3>
      <p>Capuchino con Baileys</p>
      <p class="price">$12.000</p>
    </div>

    <div class="coffee-item">
      <h3>Milo Caliente</h3>
      <p>Milo Caliente</p>
      <p class="price">$9.000</p>
    </div>

    <div class="coffee-item">
      <h3>Vino Caliente</h3>
      <p>Vino Caliente</p>
      <p class="price">$13.000</p>
    </div>

  </div>


  <h2  class="titi pt-10 pb-10" >Frío y refrescante </h2>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Jugo Natural en Agua</h3>
      <p>Jugo Natural en Agua</p>
      <p class="price">$7.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Jugo Natural en Leche</h3>
      <p>Jugo Natural en Leche</p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Soda Saborizada</h3>
      <p>Soda saborizada</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Milo Frío</h3>
      <p>Milo Frío</p>
      <p class="price">$9.000</p>
    </div>

    <div class="coffee-item">
      <h3>Café Helado</h3>
      <p>Café helado</p>
      <p class="price">$11.000</p>
    </div>


    <div class="coffee-item">
      <h3>Botella de agua</h3>
      <p>Botella de agua</p>
      <p class="price">$4.000</p>
    </div>



  </div>
  <h2  class="titi pt-10 pb-10" >Para picar y compartir </h2>

  <div class="coffee-menu">

    <div class="coffee-item">
      <h3>Patacones con hogao (8)</h3>
      <p>Patacones con hogao</p>
      <p class="price">$13.000</p>
    </div>

    <div class="coffee-item">
      <h3>Empanadas con pollo (8)</h3>
      <p>Empanadas con pollo (8) </p>
      <p class="price">$15.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Amaretto</h3>
      <p>Capuchino con Amaretto</p>
      <p class="price">$11.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Baileys</h3>
      <p>Capuchino con Baileys</p>
      <p class="price">$12.000</p>
    </div>

    <div class="coffee-item">
      <h3>Milo Caliente</h3>
      <p>Milo Caliente</p>
      <p class="price">$9.000</p>
    </div>

    <div class="coffee-item">
      <h3>Vino Caliente</h3>
      <p>Vino Caliente</p>
      <p class="price">$13.000</p>
    </div>
  </div>


<style>
  .coffee-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .coffee-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }

  .price {
    font-size: 1.2rem;
    color: #e67e22;
  }
  .titi{
    text-align: center;
  }
</style>
