<div class="titi text-center"><h1>🍸 Licores</h1></div>

<!--licores  -->
<div class="titi pb-10 pt-10 text-center"><h2></h2></div>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aguardiente Tapa Azul</h3>

    <p class="price text-lg text-orange-600"><i>Trago</i> $5.500</p>
    <p class="price text-lg text-orange-600"><i>Media</i> $50.000</p>
    <p class="price text-lg text-orange-600"><i>Botella</i> $95.000</p>
    <p class="price text-lg text-orange-600"><i>Garrafa</i> $230.000</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aguardiente Tapa Roja</h3>

    <p class="price text-lg text-orange-600"><i>Trago</i> $5.500</p>
    <p class="price text-lg text-orange-600"><i>Media</i> $40.000</p>
    <p class="price text-lg text-orange-600"><i>Botella</i> $95.000</p>
    <p class="price text-lg text-orange-600"><i>Garrafa</i> $200.000</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aguardiente Tapa Verde</h3>

    <p class="price text-lg text-orange-600"><i>Trago</i> $5.500</p>
    <p class="price text-lg text-orange-600"><i>Media</i> $50.000</p>
    <p class="price text-lg text-orange-600"><i>Botella</i> $95.000</p>
    <p class="price text-lg text-orange-600"><i>Garrafa</i> $220.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Ron viejo de caldas</h3>

    <p class="price text-lg text-orange-600"><i>Trago</i> $6.500</p>
    <p class="price text-lg text-orange-600"><i>Media</i> $60.000</p>
    <p class="price text-lg text-orange-600"><i>Botella</i> $110.000</p>
    <p class="price text-lg text-orange-600"><i>Garrafa</i> $240.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Ron Artesanal</h3>
    <p>Ron Artesanal Amaderado</p>
    <p class="price text-lg text-orange-600">Media $60.000</p>
    <p class="price text-lg text-orange-600">Botella $115.000</p>
  </div>
  <!--  </div> Agrega más elementos de menú aquí -->
</div>

<h2 class="titi pb-4 pt-4 text-center">🍺 Cervezas</h2>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Club Colombia</h3>
    <p></p>
    <p class="price text-lg text-orange-600">Dorada $7.500</p>
    <p class="price text-lg text-orange-600">Roja $7.500</p>
    <p class="price text-lg text-orange-600">Oscura $7.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Pilsen</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aguila</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aguila Ligth</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>
</div>

<!--CALIENTE  -->

<h1 class="titi pb-10 pt-10 text-center">🔥 Caliente</h1>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Capuchino con Ron</h3>

    <p class="price text-lg text-orange-600">$12.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Capuchino sin licor</h3>

    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Capuchino con Amaretto</h3>

    <p class="price text-lg text-orange-600">$14.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Capuchino con Baileys</h3>

    <p class="price text-lg text-orange-600">$14.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Milo Caliente</h3>

    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Vino Caliente</h3>

    <p class="price text-lg text-orange-600">$15.000</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Prensa Francesa</h3>

    <p class="price text-lg text-orange-600">$12.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Agua de panela</h3>

    <p class="price text-lg text-orange-600">$5.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aromática de frutos amarillos</h3>

    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Aromática de frutos rojos</h3>

    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Chocolate negro</h3>

    <p class="price text-lg text-orange-600">$7.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Chocolate en leche</h3>

    <p class="price text-lg text-orange-600">$9.000</p>
  </div>
</div>

<!-- * FRÍO *-->

<h1 class="titi pb-10 pt-10 text-center">🧊 Frío y Refrescante</h1>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Jugo Natural en Agua</h3>
    <p>Jugo Natural en Agua</p>
    <p class="price text-lg text-orange-600">$7.500</p>
  </div>
  <!-- Agrega más elementos de menú aquí -->
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Jugo Natural en Leche</h3>
    <p>Jugo Natural en Leche</p>
    <p class="price text-lg text-orange-600">$9.500</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Soda</h3>
    <p>Soda</p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Soda Saborizada</h3>
    <p>Soda saborizada</p>
    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Milo Frío</h3>
    <p>Milo Frío</p>
    <p class="price text-lg text-orange-600">$9.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Café Helado</h3>
    <p>Café helado</p>
    <p class="price text-lg text-orange-600">$11.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Botella de agua</h3>
    <p>Botella de agua</p>
    <p class="price text-lg text-orange-600">$4.000</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Cocacola</h3>
    <p>Cocacola Fría</p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Coca-Cola cero</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$6.000</p>
  </div>
</div>

<!-- PARA PICAR  -->

<h1 class="titi pb-10 pt-10 text-center">🍱 Para Picar y Compartir</h1>

<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Patacones con hogao (8)</h3>

    <p class="price text-lg text-orange-600">$14.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Empanadas con pollo (8)</h3>

    <p class="price text-lg text-orange-600">$16.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Palitos de queso (8)</h3>

    <p class="price text-lg text-orange-600">$16.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Rollitos de Manzana, queso crema y canela (6)</h3>

    <p class="price text-lg text-orange-600">$15.000</p>
  </div>

  <h3 class="titi">Queso Asado con:</h3>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Reducción de Vino</h3>
    <p class="price text-lg text-orange-600">$20.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Arequipe</h3>
    <p class="price text-lg text-orange-600">$20.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Pesto</h3>
    <p class="price text-lg text-orange-600">$20.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Tabla de quesos</h3>
    <!--  <img src="/images/tabla.jpeg" alt="tabla de quesos" />-->
    <p>Diversos tipos de quesos</p>
    <p class="price text-lg text-orange-600">$80.000</p>
  </div>
</div>

<!-- APETITO  -->
<h1 class="pb-10 pt-10 text-center">🍝 Si el apetito persiste...</h1>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Arepa con pollo</h3>
    <p>
      Pollo desmechado mezclado con delicioso hogao, crema de leche, finalizada
      con queso parmesano
    </p>
    <p class="price text-lg text-orange-600">$15.000</p>
  </div>
  <!-- Agrega más elementos de menú aquí -->
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Sandwich gratinado con pollo</h3>
    <p>Pollo desmechado gratinado con salsa bechamel y queso parmesano.</p>
    <p class="price text-lg text-orange-600">$24.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Sandwich vegetariano</h3>
    <p>
      Cebolla caramelizada, tomate, pepino agridulce, albhaca, champiñones y
      queso
    </p>
    <p class="price text-lg text-orange-600">$20.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Lasaña mixta (Pollo Y Res)</h3>
    <p>Delciiosa lasagna Con pollo y Carne de Res</p>
    <p class="price text-lg text-orange-600">$28.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Sandwich Carpediem</h3>
    <p>
      Tocineta, queso , cebolla caramelizada, pepino agridulze, tomate, salsa de
      ajo y pesto
    </p>
    <p class="price text-lg text-orange-600">$22.000</p>
  </div>
</div>

<h1 class="pb-10 pt-10 text-center">🥐 Croissant de:</h1>
<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
  <!-- Agrega más elementos de menú aquí -->
  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Queso Mermelada</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$9.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Queso Arequipe</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$8.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Queso Jamón</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$10.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Queso Tocineta</h3>
    <p></p>
    <p class="price text-lg text-orange-600">$10.500</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Napolitano</h3>
    <p>Albhaca, Queso, Tomate</p>
    <p class="price text-lg text-orange-600">$9.500</p>
  </div>
</div>

<h1 class="titi pb-10 pt-10 text-center">🍷 Otras:</h1>

<div class="coffee-menu grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">


  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Sangría</h3>
    <p></p>
    <p class="price text-lg text-orange-600">Copa $19.000</p>
    <p class="price text-lg text-orange-600">Jarra $90.000</p>
  </div>

  <div class="coffee-item border border-gray-300 p-5 text-center">
    <h3>Copa de vino</h3>
    <p>Pregunta por las opciones</p>
    <p class="price text-lg text-orange-600">$13.000</p>
  </div>
</div>
