
  <div class="coffee-menu">
    <div class="titi"><h1>Productos </h1>
    </div>
    <div class="coffee-item">
      <h3>Café Instantaneo</h3>
      <p>Cafe instantaneo de greca</p>
      <p class="price">$3.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Prensa Francesa</h3>
      <p>Cafe hecho en prensa Francesa</p>
      <p class="price">$12.000</p>
    </div>
    <div class="coffee-item">
      <h3>Agua de panela</h3>
      <p>Deliciosa agua de panela caliente</p>
      <p class="price">$5.500</p>
    </div>
    <div class="coffee-item">
      <h3>Aromática de frutos amarillos</h3>
      <p>Aromática hecha con deliciosos frutos amarillos</p>
      <p class="price">$8.000</p>
    </div>
    <div class="coffee-item">
      <h3>Aromática de frutos rojos</h3>
      <p>Aromática hecha con deliciosos frutos rojos</p>
      <p class="price">$8.000</p>
    </div>
  </div>


<style>
  .coffee-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .coffee-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }

  .price {
    font-size: 1.2rem;
    color: #e67e22;
  }
  .titi{
    text-align: center;
  }
</style>
