<div class="titi"><h1>Productos </h1> </div>

<div class="titi pt-10 pb-10"><h2>Algo Caliente</h2> </div>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Café Instantaneo</h3>
      <p>Cafe instantaneo de greca</p>
      <p class="price">$3.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Prensa Francesa</h3>
      <p>Cafe hecho en prensa Francesa</p>
      <p class="price">$12.000</p>
    </div>

    <div class="coffee-item">
      <h3>Agua de panela</h3>
      <p>Deliciosa agua de panela caliente</p>
      <p class="price">$5.500</p>
    </div>

    <div class="coffee-item">
      <h3>Aromática de frutos amarillos</h3>
      <p>Aromática hecha con deliciosos frutos amarillos</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Aromática de frutos rojos</h3>
      <p>Aromática hecha con deliciosos frutos rojos</p>
      <p class="price">$8.000</p>
    </div>


    <div class="coffee-item">
      <h3>Chocolate negro</h3>
      <p>Chocolate negro caliente</p>
      <p class="price">$6.500</p>
    </div>

    <div class="coffee-item">
      <h3>Chocolate en leche</h3>
      <p>Chocolate en leche caliente</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Ron</h3>
      <p>Capuchino con Ron </p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino sin licor</h3>
      <p>Capuchino sin licor </p>
      <p class="price">$9.000</p>
    </div>


    <div class="coffee-item">
      <h3>Capuchino con Amaretto</h3>
      <p>Capuchino con Amaretto</p>
      <p class="price">$11.000</p>
    </div>

    <div class="coffee-item">
      <h3>Capuchino con Baileys</h3>
      <p>Capuchino con Baileys</p>
      <p class="price">$12.000</p>
    </div>

    <div class="coffee-item">
      <h3>Milo Caliente</h3>
      <p>Milo Caliente</p>
      <p class="price">$9.000</p>
    </div>

    <div class="coffee-item">
      <h3>Vino Caliente</h3>
      <p>Vino Caliente</p>
      <p class="price">$13.000</p>
    </div>

  </div>


  <h2  class="titi pt-10 pb-10" >Frío y refrescante </h2>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Jugo Natural en Agua</h3>
      <p>Jugo Natural en Agua</p>
      <p class="price">$7.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Jugo Natural en Leche</h3>
      <p>Jugo Natural en Leche</p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Soda Saborizada</h3>
      <p>Soda saborizada</p>
      <p class="price">$8.000</p>
    </div>

    <div class="coffee-item">
      <h3>Milo Frío</h3>
      <p>Milo Frío</p>
      <p class="price">$9.000</p>
    </div>

    <div class="coffee-item">
      <h3>Café Helado</h3>
      <p>Café helado</p>
      <p class="price">$11.000</p>
    </div>


    <div class="coffee-item">
      <h3>Botella de agua</h3>
      <p>Botella de agua</p>
      <p class="price">$4.000</p>
    </div>
    <div class="coffee-item">
      <h3>Cocacola</h3>
      <p>Cocacola Fría</p>
      <p class="price">$6.000</p>
    </div>

  </div>

  <h2  class="titi pt-10 pb-10" >Para picar y compartir </h2>

  <div class="coffee-menu">

    <div class="coffee-item">
      <h3>Patacones con hogao (8)</h3>
      <p>Patacones con hogao</p>
      <p class="price">$13.000</p>
    </div>

    <div class="coffee-item">
      <h3>Empanadas con pollo (8)</h3>
      <p>Empanadas con pollo (8) </p>
      <p class="price">$15.000</p>
    </div>

    <div class="coffee-item">
      <h3>Palitos de queso (8) </h3>
      <p>Palitos de queso</p>
      <p class="price">$15.000</p>
    </div>

    <div class="coffee-item">
      <h3>Tostaditas con antipasto</h3>
      <p>Tostaditas con antipasto</p>
      <p class="price">$10.000</p>
    </div>

    <div class="coffee-item">
      <h3>Rollitos de Manzana, queso crema y canela (6)</h3>
      <p>Rollitos de Manzana, queso crema y canela</p>
      <p class="price">$14.000</p>
    </div>

    <div class="coffee-item">
      <h3>Rollitos de queso y tocineta (6) </h3>
      <p>Rollitos de queso y tocineta (6)</p>
      <p class="price">$14.000</p>
    </div>

<h3 class="titi "> Queso Asado con:</h3>

<div class="coffee-item">
  <h3>Mermelada de pimentón </h3>
  <p class="price">$18.000</p>
</div>

<div class="coffee-item">
  <h3>Arequipe </h3>
  <p class="price">$18.000</p>
</div>

<div class="coffee-item">
  <h3>Pesto</h3>
  <p class="price">$18.000</p>
</div>

<div class="coffee-item">
  <h3>Tabla de quesos </h3>
  <p> diversos tipos de quesos</p>
  <p class="price">$75.000</p>
</div>


  </div>

<h2  class="titi pt-10 pb-10" >Si el apetito persiste... </h2>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Arepa con pollo</h3>
      <p>Pollo desmechado mezclado con delicioso hogao, crema de leche, finalizada con queso parmesano</p>
      <p class="price">$14.000</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Sandwich gratinado con pollo</h3>
      <p>Pollo desmechado gratinado con salsa bechamel y queso parmesano.</p>
      <p class="price">$22.000</p>
    </div>

    <div class="coffee-item">
      <h3>Sandwich vegetariano</h3>
      <p>Cebolla caramelizada, tomate, pepino agridulce, albhaca, champiñones y queso</p>
      <p class="price">$20.000</p>
    </div>

    <div class="coffee-item">
      <h3>Lasaña de pollo, lasaña de carne y lasaña mixta</h3>
      <p>Delciiosa lasagna </p>
      <p class="price">$28.000</p>
    </div>


    <div class="coffee-item">
      <h3>sandwich baguette de carne desmechada</h3>
      <p>xxxxxxxxxx </p>
      <p class="price">$21.000</p>
    </div>

    <div class="coffee-item">
      <h3>Sandwich Carpediem</h3>
      <p>Tocineta, queso , cebolla caramelizada, pepino agridulze, tomate, salsa de ajo y pesto </p>
      <p class="price">$21.000</p>
    </div>

  </div>

  <h2  class="titi pt-10 pb-10" >Croissant de: </h2>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Chocolate</h3>
      <p></p>
      <p class="price">$8.500</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Queso mermelada</h3>
      <p></p>
      <p class="price">$8.500</p>
    </div>

    <div class="coffee-item">
      <h3>Queso arequipe</h3>
      <p></p>
      <p class="price">$8.500</p>
    </div>

    <div class="coffee-item">
      <h3>Queso jamón</h3>
      <p> </p>
      <p class="price">$9.500</p>
    </div>
    <div class="coffee-item">
      <h3>Queso jamón</h3>
      <p> </p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Queso tocineta</h3>
      <p> </p>
      <p class="price">$9.500</p>
    </div>

    <div class="coffee-item">
      <h3>Napolitano</h3>
      <p> Albhaca, queso, tomate </p>
      <p class="price">$8.500</p>
    </div>

  </div>

  <h2  class="titi pt-10 pb-10" >Licores  </h2>
  <div class="coffee-menu">


    <div class="coffee-item">
      <h3>Ron viejo de caldas</h3>
      <p>Puedes pedir por trago, media y botella</p>
      <p class="price"><i>Trago</i> $5.000</p>
      <p class="price"><i>Media</i> $50.000</p>
      <p class="price"><i>Botella</i> $90.000</p>
    </div>
    <!-- Agrega más elementos de menú aquí -->
    <div class="coffee-item">
      <h3>Ron Medellín</h3>
      <p>Puedes pedir por trago, media y botella</p>
      <p class="price"> <i>Trago</i> $4.000</p>
      <p class="price"><i>Media</i> $45.000</p>
      <p class="price"> <i>Botella</i> $80.000</p>
    </div>



  </div>

<h3 class="titi"> Cervezas</h3>

  <div  class="coffee-menu">

    <div class="coffee-item">
      <h3>Club colombia</h3>
      <p></p>
      <p class="price">$7.000</p>
    </div>

    <div class="coffee-item">
      <h3>Pilsen</h3>
      <p> </p>
      <p class="price">$5.000</p>
    </div>

    <div class="coffee-item">
      <h3>Aguila ligth</h3>
      <p> </p>
      <p class="price">$6.500</p>
    </div>
    <div class="coffee-item">
      <h3>Aguila normal</h3>
      <p> </p>
      <p class="price">$6.500</p>
    </div>

    <div class="coffee-item">
      <h3>coronita</h3>
      <p> </p>
      <p class="price">$6.500</p>
    </div>
  </div>

  <h3 class="titi">Otras: </h3>

  <div class="coffee-menu">

    <div class="coffee-item">
      <h3>copa de sangría</h3>
      <p> </p>
      <p class="price">$18.500</p>
    </div>

    <div class="coffee-item">
      <h3>Jarra de sangría</h3>
      <p> </p>
      <p class="price">$90.000</p>
    </div>

    <div class="coffee-item">
      <h3>Copa de vino </h3>
      <p> Pregunta por las opciones</p>
      <p class="price">$11.0000</p>
    </div>

  </div>
<style>
  .coffee-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .coffee-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }

  .price {
    font-size: 1.2rem;
    color: #e67e22;
  }
  .titi{
    text-align: center;
  }
</style>
