---
---

<div class="mapouter shadow-lg">
  <div class="gmap_canvas">

    <iframe
     class="gmap_iframe"
    width="100%"

    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6854.886309942466!2d-75.51904291239732!3d6.212911490408128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4682aac76951d7%3A0x8e2dfd988f221dc0!2sVda.%20El%20Plan%2C%20Plan%2C%20Santa%20Elena%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1682046149805!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


  </div>
  <!-- Styles provided by "Embed Google Maps" -->
  <!-- https://embed-google-maps.com/ -->
  <style>
    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 28px;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 328px;
    }
    .gmap_iframe {
      height: 328px !important;
    }
  </style>
</div>
