---
import Map from "./Map.astro";

---

<section
  id="map"
  class="h-fit mb-36 min-h-[20rem] max-w-[55rem] mx-auto flex justify-center relative px-6 pt-8">
  <div >
    <div  >

   <h1 class="font-bold flex justify-center text-center">
       Nuestra ubicación
    </h1>
    <h4 class="justify-center pt-6 text-center">Km 1.8 Vereda El plan Santa Elena-Medellín</h4>
    </div>
    <div class="py-10">
    <Map />
</div>
  </div>

</section>
